@import "./font";

$background-color: #f9f4e8;
$button-color: #4977ea;
$black-text: #000000;
$white-text: #ffffff;

$font-size-900: 3rem;
$font-size-700: 2rem;
$font-size-500: 1.5rem;
$font-size-300: 1rem;

$font-primary: "lato-regular";
$font-secondary: "playfairDisplay";
