@import "./../../styles/main.scss";
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    object-fit: cover;
    width: auto;
    &__fig {
      .img-logo {
        width: 5rem;
        @include tablet {
          width: 7rem;
        }
      }
    }
    h2 {
      font-size: 0.7rem;
      @include tablet {
        font-size: 1rem;
      }
    }
  }

  &__ul {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 1rem;
      font-family: $font-primary;
      font-size: 0.75rem;
    }
  }

  &__div-btn {
    display: none;

    &__sign-up {
      border: none;
      background-color: inherit;
      padding: 1rem 2rem;
    }

    &__wait-list {
      border: none;
      padding: 1rem 2rem;
      background-color: $button-color;
      color: $white-text;
    }

    @include desktop {
      display: block;
    }
  }
  figure {
    .img-menu {
      width: 30px;
      @include tablet {
        width: 40px;
      }
      @include desktop {
        display: none;
      }
    }
  }
}
