@import "./../../styles/main.scss";
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  @include tablet {
    padding: 0 5%;
  }

  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    object-fit: cover;
    width: auto;
    animation-name: moveToRight;
    animation-duration: 1s;
    &__fig {
      .img-logo {
        width: 10rem;
        @include tablet {
          width: 11rem;
        }
      }
    }
    h2 {
      background: linear-gradient(to right, #ffcc66, #ff6666);
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
      border-radius: 2rem;
      color: $white-text;
      @include tablet {
        font-size: 1.2rem;
      }
    }
  }

  &__ul {
    display: none;
    animation-name: moveToTop;
    animation-duration: 1s;

    li {
      cursor: pointer;

      &:hover {
        color: $button-color;
        transition: all 0.3s ease-in-out;
      }
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 1rem;
      font-family: $font-primary;
      font-size: 0.75rem;
    }
  }

  &__div-btn {
    display: none;
    animation-name: moveToLeft;
    animation-duration: 1s;

    &__sign-up {
      border: none;
      background-color: inherit;
      padding: 1rem 2rem;
      &:hover {
        color: $button-color;
        transition: all 0.3s ease-in-out;
      }
    }

    &__wait-list {
      border: none;
      padding: 1rem 2rem;
      background-color: $button-color;
      color: $white-text;
      border-radius: 0.5rem;
      font-family: $font-primary;
      &:hover {
        background-color: #0066ff;
        transition: all 0.3s ease-in-out;
      }
    }

    @include desktop {
      display: block;
    }
  }
  &__fig2 {
    .img-menu {
      width: 3rem;
      @include tablet {
        width: 3.8rem;
      }
    }
    @include desktop {
      display: none;
    }
  }
}
