@import "../../App.scss";

.footer {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  animation-name: moveToTop;
  animation-duration: 1s;

  @include tablet {
    padding: 0 5%;
    flex-direction: row;
  }

  &__social {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      font-size: 1.4rem;
      text-decoration: none;
      font-family: $font-primary;
      color: rgb(107, 100, 100);
      &:hover {
        color: $button-color;
        transition: all 0.3s ease-in-out;
      }

      @include tablet {
        font-size: 1.6rem;
      }
    }
  }

  &__qa {
    display: flex;
    gap: 1rem;
    font-size: 2rem;

    span {
      font-size: 1.7rem;
      font-weight: bolder;
      font-family: $font-primary;
    }
    @include tablet {
      font-size: 1.6rem;
    }
  }
}
