@font-face {
  font-family: "lato-regular";
  font-style: normal;
  font-weight: 500;
  src: url(/src/styles/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "playfairDisplay";
  font-style: normal;
  font-weight: 500;
  src: url(/src/styles/fonts/PlayfairDisplay-regular.ttf) format("truetype");
}
